@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
    text-align: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

li {
    list-style-type: none;
}

img{
    width: 40%;
    text-align: center;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

nav li {
    float: left;
    padding: 5px;
}

nav a{
    padding: 10px;
    border-radius: 2px;
}
nav a:hover{
    background-color: bisque;
}

form{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
